<main>
  <% if Pomodoro.count >= 4 %>
    <div class="notification">
      <h3 class="center">Good work!</h3>
      <p>You now have four or more pomodoros and it's time to take a break!<br>
        Click below to begin a 15 minute timer and reset your pomodoro count.<br>
      <%= link_to "Take Break", reset_path, class: "btn btn-alert" %></p>
    </div>
  <% end %>

  <div id="errors">
    <%= render "shared/error" %>
  </div>

  <p>*Hover over a task to edit, delete, or start a timer.</p>
  <h2>Todo List</h2>

  <%= render "list" %>
</main>