<h1>Log In</h1>

<%= form_for @user, url: {action: "auth"} do |f| %>
  Name: <%= f.text_field :name %><br>
  Email: <%= f.text_field :email %><br>
  <%= f.submit "Submit", class: "btn btn-info" %>
<% end %>