<div class="center welcome-logo">
  <%= link_to image_tag("logo.png", class: "logo", title: "Pomodoro ToDo"), root_path %> <span class="title">Pomodoro ToDo</span>
</div>

<div class="welcome-banner">
</div>
<p class="center welcome-message">
  Welcome to the Pomodoro Todo List.<br>
  This todo list utilizes the <a href="http://pomodorotechnique.com/" target="_blank">Pomodoro technique</a>, a time management system meant to be both productive and fun.
</p>

<div class="center register-user">
  <a href="/login" class= "btn btn-primary fancybox", data-fancybox-type= "iframe">Log In</a>
  <a href="/users/new" class="btn btn-primary fancybox", data-fancybox-type= "iframe" >Sign Up</a>
</div>

<main>
  <h3 class="center">How it works</h3>
  <ul>
    <li>Choose a task to work on.</li>
    <li>Set timer for 25 minutes.</li>
    <li>Work on task until timer rings.</li>
    <li>Avoid distractions; if necessary, write them down, but continue working afterwards.</li>
    <li>You gain a pomodoro after the timer rings.</li>
    <li>If you have fewer than 4 pomodoros, take a short break (3–5 minutes).</li>
    <li>After 4 pomodoros, take a longer break (15–30 minutes) and reset pomodoro count.</li>
    <li>After each break, start again from step 1.</li>
  </ul>
</main>