<div class="center welcome-logo">
  <a href=<%= root_path %>>
    <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/8a/3a/1f/8a3a1f6c-ebc6-4bbd-bc61-bf27aed94494/icon128-2x.png" class="logo"> <span class="title">Pomodoro ToDo</span>
  </a>
</div>

<div class="welcome-banner">
</div>
<p class="center welcome-message">
  Welcome to the Pomodoro Todo List.<br>
  This todo list utilizes the <a href="http://pomodorotechnique.com/" target="_blank">Pomodoro technique</a>, a time management system meant to be both productive and fun.
</p>

<div class="center register-user">
  <a href="/login" class= "btn btn-primary fancybox", data-fancybox-type= "iframe">Log In</a>
  <a href="/users/new" class="btn btn-primary fancybox", data-fancybox-type= "iframe" >Sign Up</a>
</div>

<main>
  <h3 class="center">How it works</h3>
  <ul>
    <li>Choose a task to work on.</li>
    <li>Set timer for 25 minutes.</li>
    <li>Work on task until timer rings.</li>
    <li>Avoid distractions; if necessary, write them down, but continue working afterwards.</li>
    <li>You gain a pomodoro after the timer rings.</li>
    <li>If you have fewer than 4 pomodoros, take a short break (3–5 minutes).</li>
    <li>After 4 pomodoros, take a longer break (15–30 minutes) and reset pomodoro count.</li>
    <li>After each break, start again from step 1.</li>
  </ul>
</main>