<% if user_signed_in? %>
  <header>
    <%= link_to image_tag("logo.png", class: "logo", title: "Pomodoro ToDo"), root_path %> <span class="title">Pomodoro ToDo</span>
    <nav class="right">
      <%= link_to "Log Out", logout_path, method: "delete", class: "btn btn-primary" %>
    </nav>
  </header>
<% end %>
