<main class="instructions">
  <h3>How it works</h3>
  <ul>
    <li>Choose a task to work on.</li>
    <li>Set timer for 25 minutes.</li>
    <li>Work on task until timer rings.</li>
    <li>Avoid distractions; if necessary, write them down, but continue working afterwards.</li>
    <li>You gain a pomodoro after the timer rings.</li>
    <li>If you have fewer than 4 pomodoros, take a short break (3–5 minutes).</li>
    <li>After 4 pomodoros, take a longer break (15–30 minutes) and reset pomodoro count.</li>
    <li>After each break, start again from step 1.</li>
  </ul>
</main>