<div class="center welcome-logo">
  <%= link_to image_tag("logo.png", class: "logo", title: "Pomodoro ToDo"), root_path %> <span class="title">Pomodoro ToDo</span>
</div>

<div class="welcome-banner">
</div>
<p class="center welcome-message">
  Welcome to the Pomodoro Todo List.<br>
  This todo list utilizes the <a href="http://pomodorotechnique.com/" target="_blank">Pomodoro technique</a>, a time management system meant to be both productive and fun.
</p>

<div class="center register-menu">
  <a href="/login" class= "btn btn-primary fancybox", data-fancybox-type= "iframe">Log In</a>
  <a href="/users/new" class="btn btn-primary fancybox", data-fancybox-type= "iframe" >Sign Up</a>
</div>

<%= render "instructions" %>