<div class="clock-info">
  <h3>Start Timer</h3>
  <%= form_for @timer, :url => task_timers_path(@task), :html => {:class => "start"} do |f|%>
    <%= f.text_field :length, id: "length", placeholder: "length of time" %><br>
    <%= f.hidden_field :text, id: "text", value: @task.text %>
    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>
</div>

<div class="clock">
  <span class="minutes"></span>:<span class="seconds"></span>
</div>