<div class="clock">
</div>

<div class="clock-info">
  <h3>Start Timer</h3>
  <%= form_for @timer, :url => task_timers_path(@task), :html => {:class => "start"} do |f|%>
    <%= f.text_field :length, placeholder: "length of time" %><br>
    <%= f.hidden_field :task_id, value: @task.id %>
    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>
</div>