<h1>Welcome to the Pomodoro ToDo app!</h1>

<p><%= link_to "Add Items", new_item_path, class: "btn btn-primary" %></p>

<ol>
  <% if @items.empty? %>
    <p>
      You currently don't have anything in your todo list.<br>
      Start striking out your tasks and goals today!
    </p>
  <% end %>
  <% @items.each do |item|%>
    <li><%= item.text %> <%= link_to "Edit", edit_item_path(item) %> <%= link_to "Delete", item_path(item), method: "delete" %></li>
  <% end %>
</ol>