.list {
  border-left: 5px solid #83df6d;
  padding: 3.5em 2em 2em 6.5em;
  background-image: url("notebook-bg.jpg");
  background-size: cover;
}

.task-form, .task-options {
  display: none;
}

.notification {
  padding: 0.5em;
  background: #83df6d;
  text-align: center;
  color: #FFF;
  h3 {
    color: #000;
  }
}
