html, body {
  margin: 0;
  height: 100%;
  background: #f1e7e2;
  font-family: 'Alice', serif;
  font-size: 1.3em;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
  margin: auto;
}

main {
  width: 100%;
  padding: 0 5em 2em;
}

a, a:hover {
  color: #e94734;
  text-decoration: none;
}

.btn-primary, .btn-primary:hover {
  border: 4px solid #e63422;
  background: #FFF;
  color: #e94734;
  font-weight: bold;
  border-radius: 4.5em;
  font-size: 0.9em;
  margin: 0 1em;
}


.btn-secondary, .btn-secondary:hover {
  border: none;
  background: #83df6d;
  color: #FFF;
  font-weight: bold;
  font-size: 0.6em;
}

h1, h2, h3, h4 {
  color: #00b359;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3em;
}

input[type="text"], input[type="password"] {
  font-family: 'Courier New', serif;
  font-size: 0.8em;
  font-weight: bold;
  color: #00b359;
  width: 70%;
}

input:focus {
  color: #e94735;
}