<header>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "Create Items", new_item_path %>
    <%= link_to "Sign Up", root_path %>
    <%= link_to "Log In", root_path %>
  </nav>
</header>