<% if user_signed_in? %>
  <header>
    <a href=<%= root_path %>>
      <img src="http://a4.mzstatic.com/us/r30/Purple1/v4/8a/3a/1f/8a3a1f6c-ebc6-4bbd-bc61-bf27aed94494/icon128-2x.png" class="logo"> <span class="title">Pomodoro ToDo</span>
    </a>
    <nav class="right">
      <%= link_to "Log Out", logout_path, method: "delete", class: "btn btn-primary" %>
    </nav>
  </header>
<% end %>
